<h1><%= current_user.username %>'s Profile</h1>

<div class="row">
	<div class="col-md-6">
<% current_user.challenges.each do |challenge| %>
		<div class="panel panel-success">
			<div class="panel-heading">
				<%= link_to challenge.title, challenge %>
			</div>
			<div class="panel-body">
				<p><%= challenge.created_at.strftime('%m/%d/%Y at %l:%M%p') %></p>
				<p><%= challenge.list[0..150]%>...[<%= link_to "READ MORE", challenge %>]</p>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
<% end %>
</div>
